* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-image: url(oopSportsAssets/perspective-view-half-field-for-handball-orange-outline-of-lines-handball-field-illustration-vector.jpg);
    background-size:100vw 100vh;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

/* add player button */

#addButton {
    background-color: #60C571;
    position: absolute;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    top: 10rem;
    left: 5rem;
    border: solid #000000 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#addButton i {
    font-size: 6rem;
}
/* add player form */

#addPlayer {
    display: none;
    position: absolute;
    background-color: #e0ddca;
    width: 30rem;
    height: 40rem;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    top: 6rem;
    left:37%;
    border-radius: 10px;
    color:#3c3d42;
}
#addPlayer > * {
    background-color: #9ccd62;
    width: 25rem;
    height: 22px;
    border-radius: 5px;
    

}
label {
    background: none !important;
    font-size: 20px;
}
#submit {
    width:8rem ;
    height: 2rem;
    background-color: #3c3d42;
    color: #f6f8e2;
    
}

/* Player Cards */

.playerCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
}

.playerPhoto {
    position: absolute;
    background-image: url(oopSportsAssets/avatar-.jpg);
    background-size: cover;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    top: 0.5rem;
    border: #407c87 2px solid;
}

ul {
    display :flex;
    position: absolute;
    top: 6rem;
    gap: 2px;
    flex-direction: column;
    list-style: none;
}
li {
    background-color: #eef1f6;
    width: 8rem;
    height: 1.6rem;
    border: #407c87 2px solid;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}


#goalkeeper{
    display: none;
    background-color: #a5dbdd;
    position: absolute;
    width: 10rem;
    height: 15rem;
    bottom: 3rem;
    left:45.5%;
    border-radius: 10px;
}
#leftWing{
    display: none;
    background-color: #a5dbdd;
    position: absolute;
    width: 10rem;
    height: 15rem;
    right: 15rem;
    bottom: 8rem;
    border-radius: 10px;

}
#leftBack{
    display: none;
    background-color: #a5dbdd;
    position: absolute;
    width: 10rem;
    height: 15rem;
    top: 8rem;
    right: 25rem;
    border-radius: 10px;
}
#center{
    display: none;
    background-color: #a5dbdd;
    position: absolute;
    width: 10rem;
    height: 15rem;
    top:2rem;
    left: 45.5%;
    border-radius: 10px;
}
#rightBack{
    display: none;
    background-color: #a5dbdd;
    position: absolute;
    width: 10rem;
    height: 15rem;
    top: 8rem;
    left: 25rem;
    border-radius: 10px;
}
#rightWing{
    display: none;
    background-color: #a5dbdd;
    position: absolute;
    width: 10rem;
    height: 15rem;
    left: 15rem;
    bottom: 8rem;
    border-radius: 10px;
}
#pivot{
    display: none;
    background-color: #a5dbdd;
    position: absolute;
    width: 10rem;
    height: 15rem;
    left:45.5%;
    bottom: 25rem;
    border-radius: 10px;
}   

/* back button */

#backBtn {
    position:absolute;
    width: 3rem;
    height: 2rem;
    margin-top: 0.6rem;
    margin-left: 0.6rem;
    cursor:pointer;
    
}
a {
    text-decoration: none;
    color: #000000;
    font-size: 2rem;
    font-weight: bold;
}